// Global styles
@import './src/stylesheets/global';

// Browser header
// Inspired by http://codepen.io/michaeldoyle/pen/gbgeYo

:local(.styles) {

    // Browser wrapper
    height: 300px;
    margin: 15px auto 45px;

    // Desktop and up
    @media(min-width: $screen-md) {
      height: 425px;
    }

  .browser {
    width: 90%;
    max-width: 100%;
    height: 90%;
    max-height: 320px;
    margin: 0 auto;
    background: #fff;
    border-radius: 7px 7px 0 0;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    position: absolute;

    // Tablet to desktop
    @media(min-width: $screen-sm) and (max-width: $screen-md) {
      max-height: 280px;
    }

    // Desktop and up
    @media(min-width: $screen-md) {
      max-height: 320px;
    }
  }

  .browser-top {
  	width: 100%;
  	height: 2em;
  	background: #eaeaea;
  	border-radius: 7px 7px 0 0;
  	position: relative;
  }

  .browser-dots {
    height: 1em;
  	width: 1em;
    left: 0.65em;
  	background: #fd5e59;
    border: 1px solid #df443f;
    transform: translateY(-50%) scale(0.7);
  }

  .browser-dots, .browser-dots:before, .browser-dots:after {
  	position: absolute;
  	top: 50%;
  	border-radius: 100%;

  }

  .browser-dots:before,
  .browser-dots:after {
    content: '';
    height: 1em;
  	width: 1em;
    transform: translateY(-50%);
  }

  .browser-dots:before {
  	left: 1.5em;
  	background: #ffbb3b;
    border: 1px solid #df9e2c;
  }

  .browser-dots:after {
  	left: 3em;
  	background: #34c748;
    border: 1px solid #29aa32;
  }


  .heading-title {
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 20px 15px 20px 15px;
    position: relative;
    text-align: center;
    transition: .3s all ease;

    .description {
      // Desktop and up
      @media(min-width: $screen-md) {
        max-width: 650px;
        margin: 0 auto;
      }
    }

    // Micro-interactions title
    &.micro {

      // Tablet
      @media(min-width: $screen-sm) {
        padding-left: 50px;
        padding-top: 30px;
      }

      // Tweakpoint
      @media(min-width: 550px) and (max-width: $screen-md) {
        padding-top: 30px;
      }

      // Desktop
      @media(min-width: $screen-md) {
        padding-top: 60px;
      }

    }

    // Tablet and up
    @media(min-width: $screen-sm) {
        padding: 60px 50px 20px 115px;
        text-align: left;
    }

    h1 {
      color: $main-color;
      font-family: $title-font;
      font-size: 18px;
      font-weight: 600;
      margin-top: 0;


      &:hover {
          transition: transform 0.2s, -webkit-transform 0.2s;
      }

      .explainer {
        font-weight: 300;
      }

      // Mobily only
      @media(max-width: $screen-sm) {
        text-align: center;
      }


      // Tablet and up
      @media(min-width: $screen-sm) {
        font-size: 24px;
      }

      // Desktop and up
      @media(min-width: $screen-md) {
        font-size: 34px;
      }


    }

    .bio-pic {
      border: 1px solid $gray;
      border-radius: 50%;
      display: block;
      margin: 0 auto 30px;
      width: 60px;

      // Tablet and up
      @media(min-width: $screen-sm) {
        margin: 0;
        top: 80px;
        left: 30px;
        top: 60px;
        position: absolute;
      }
    }

    // Get in touch
    a {
      color: $main-color;
      display: block;
      font-weight: 600;
      margin: 20px auto 20px !important; // :|
      width: 70%;
      transition: all 0.3s;

      // Tablet and up
      @media(min-width: $screen-sm) {
        margin-bottom: 40px;
        max-width: 300px;
      }
    }

  }
}
