/* global styles */

$highlight-color: #f1f1f1;
$main-color: #4a4a4a;
$gray: #ccc;

$title-font: Montserrat, sans-serif;
$body-font: Raleway, sans-serif;

// Responsive breakpoints
$screen-sm: 766px;
$screen-md: 998px;

@import 'fonts/all';
@import 'typography';
@import 'links';
@import 'menu';
@import 'splash-header';

:global(body) {
  background: #f1f1f1 !important;  // :|
  font-family: $body-font !important; // :|
  position: relative;

  .site-title {
    font-family: $title-font;
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
  }


  // Links
  a {
    color: $main-color;
    border-bottom: 1px solid $gray;
    display: inline-block;
    font-weight: 600;
    transition: .3s all ease;
    position: relative;

      &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        background: $main-color;
      }

    &:focus {
      text-decoration: none;
    }

    &:hover {
      border-bottom: 1px solid $main-color;
      color: darken($main-color, 5%);

      &:after {
        width: 100%;
        left: 0;
      }
    }
  }

  // Buttons
  .button-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;

    a {
      margin: 0 !important; //override .heading-title
      padding: 0;
      border: none;

      &:after {
        background: transparent; // reset global link hover style
      }

      &:hover {
        border-bottom: none;
      }
    }
  }
  button {
    background: transparent;
    border: 1px solid $gray;
    display: inline-block;
    font-family: $title-font;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 25px;
    // margin: 0 auto;
    text-transform: uppercase;
    transition: .3s;
    position: relative;

    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 0;
      bottom: 0;
      height: 2px;
      background: $gray;
    }

    &:hover {
  cursor: pointer;
  // transform: rotateX(-89deg); // reset transform on children
    &:after {
      width: 100%;
      left: 0;
    }
  }

  }

  ul {
    list-style: none;
    padding-left: 15px;
    li {
      padding-bottom: 8px;

      &:before {
        content: "\f111";
        color: $gray;
        font-size: 10px;
        font-family: FontAwesome;
        font-weight: normal;
        margin: 0 5px 0 0;
        position: relative;
        top: -2px;
        z-index: 1;
      }
    }
  }

  .social {
    font-size: 24px;


    // FontAwesome
    .fa {
      margin: 12px 6px;
      position: relative;
      transition: .3s all ease;
      top: 0;

      &.fa-github {color: #000;}
      &.fa-linkedin-square {color: #007bb6;}
      &.fa-codepen {color: #000;}
      &.fa-spotify {color: #82d564;}
      &.fa-reddit {color: #ff3f18;}
      &.fa-medium {color: #0be370;}

      &:hover {
        top: -4px;
      }
    }

  }

  // FontAwesome
  .fa {
    &.fa-twitter {color: #4099FF; font-size: 24px; margin-left: 5px;}
    &.fa-stack-overflow {color: #f48024; margin: 6px 3px 0 5px;}
    &.fa-product-hunt {color: #da552f;}
    &.fa-times {font-size: 9px;}
  }

  .top-header {
    background: $highlight-color;
    border-bottom: 1px solid $gray;
    color: $main-color;
    padding: 1.5rem 1rem;

      // Remove global link border on social icons
      a {
        border-bottom: none;
      }
  }


.status {
    color: $main-color;
    display: inline-block;
    font-family: $body-font;
    font-size: 18px;
    font-weight: 400;
    padding-left: 0;
    display: none;

    //
    // // Hide on mobile
    // @media(max-width: $screen-sm) {
    //   display: none;
    // }

    // Tablet breakpoint
    @media(min-width: $screen-md) {
      padding-left: 15px;
      display: inline-block;
    }
}

.shrugs {
    color: $main-color;
    font-weight: 600;
}

  .heading-title {
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 20px 15px 20px 15px;
    position: relative;
    text-align: center;
    transition: .3s all ease;

    // Tablet and up
    @media(min-width: $screen-sm) {
        padding: 60px 50px 20px 115px;
        text-align: left;
    }

    h1 {
      color: $main-color;
      display: inline;
      font-family: $title-font;
      font-size: 18px;
      font-weight: bold;
      max-width: 800px;

      .explainer {
        font-weight: 300;
        // display: block;
        // font-size: 16px;
        // margin-top: 8px;
        //
        // // Tablet and up
        // @media(min-width: $screen-sm) {
        //   font-size: 18px;
        //   font-weight: 400;
        // }
        //
        // // Desktop and up
        // @media(min-width: $screen-md) {
        //   font-size: 26px;
        // }


      }

      &:hover {
          transition: transform 0.2s, -webkit-transform 0.2s;
      }

      // Tablet and up
      @media(min-width: $screen-sm) {
        font-size: 24px;
      }

      // Desktop and up
      @media(min-width: $screen-md) {
        font-size: 34px;
      }


    }

    .bio-pic {
      border: 1px solid $gray;
      border-radius: 50%;
      display: block;
      margin: 0 auto 30px;
      width: 60px;

      // Tablet and up
      @media(min-width: $screen-sm) {
        margin: 0;
        top: 80px;
        left: 30px;
        top: 60px;
        position: absolute;
      }
    }

    // Get in touch
    a {
      color: $main-color;
      display: block;
      font-weight: 600;
      margin: 20px 0 20px;
      transition: all 0.3s;

      // Tablet and up
      @media(min-width: $screen-sm) {
        margin-bottom: 40px;
      }
    }

  }

  .tools-and-techniques {

    max-width: 100%;
    margin-bottom: 40px;
    padding-left: 20px;
    transition: all 0.3s;

    @media(min-width: $screen-md) {
      max-width: 800px;
      margin-bottom: 80px;
      padding-left: 0;
    }

    .tool-wrapper {
      width: 60px;
      max-width: 100%;
      height: 60px;
      border-radius: 50% 50%;
      border: 1px solid $gray;
      overflow: hidden;
      background: #fff;
      margin: 6px 12px;
      display: inline-block;

      // Desktop and up
      @media(min-width: $screen-md) {
        width: 40px;
        height: 40px;
      }

    }
    img {
      border-radius: 50%;
      margin-left: -20px;
      height: auto;
      transition: .3s all ease;
      width: 100px;

      // Desktop and up
      @media(min-width: $screen-md) {
        width: 70px;
      }

        &.node,
        &.sass {
          &:hover {
            margin-top: 0;
            margin-left: 0;
          }
        }

        &:hover {
          margin-top: -20px;
        }
    }
  }

  .company {
    color: $main-color;
    font-size: 12px;
    font-family: $title-font;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;

    @media(min-width: $screen-sm) {
      margin-top: 0;
    }
  }

  .featured-work {
    color: $main-color;
    font-size: 16px;
    font-family: $title-font;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .featured-case {
    font-size: 18px;
  }

  .sidebar-title {
    color: $main-color;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: $title-font;
    font-weight: 600;
    padding-left: 15px;
    text-transform: uppercase;

    // Mobile only
    @media(max-width: $screen-sm) {
      margin-top: 30px;
    }
  }

  .date {
    display: inline-block;
    margin-right: 20px;
  }

  .location {
    display: inline-block;
  }

  .position {
    font-family: $title-font;
    font-size: 21px;
    font-weight: 300;
    margin: 0;

    // Tablet and up
    @media(min-width: $screen-sm) {
      font-size: 28px;
    }
  }

  // Font Awesome icons

  .fa-calendar-o {
    margin-right: 5px;
  }

  .fa-map-marker {
    margin-right: 5px;
  }

  .gig {
    padding: 0 15px;
    position: relative;

    // Tablet and up
    @media(min-width: $screen-sm) {
      max-width: 800px;
      padding: 0 0 40px 150px;
    }

    .intro {
      font-family: $title-font;

      // Center gig intro on mobile
      @media(max-width: $screen-sm) {
        text-align: center;
      }
    }

    // Icons
    .fa {
      color: #999;
    }

    p {
      margin-top: 20px;
    }

      img.company-logo {
        border: 1px solid $gray;
        border-radius: 50%;
        margin-top: 20px;

        // Tablet and up
        @media(min-width: $screen-sm) {
          position: absolute;
          top: -20px;
          left: 0;
        }
      }

      // Remove line for first gig
      &.first {
        &:before {
          width: 0;
          background: transparent;
        }
      }


      // Tablet and up
      @media(min-width: $screen-sm) {
        &:before {
          content: "";
          display: block;
          width: 2px;
          top: 0;
          bottom: -40px;
          left: 50px;
          background: $gray;
          position: absolute;
        }
    }
  }

  .github-corner {

    svg {
      width: 50px;
      height: 50px;
    }
    // Hide on mobile
    @media(max-width: $screen-md) {
      display: none;
      visibility: hidden;
    }
  }

  footer {
    border-top: 1px solid $gray;
    padding: 2rem 1.5rem;
  }
}
