// Global styles
@import './src/stylesheets/global';

// Tools

:local(.styles) {
  .tools-and-techniques {

    max-width: 100%;
    margin-bottom: 40px;
    padding-left: 20px;
    transition: all 0.3s;

    @media(min-width: $screen-md) {
      max-width: 800px;
      margin-bottom: 80px;
      padding-left: 0;
    }

    .tool-wrapper {
      width: 60px;
      max-width: 100%;
      height: 60px;
      float: left;
      border-radius: 50% 50%;
      border: 1px solid $gray;
      overflow: hidden;
      background: #fff;
      margin: 6px 12px;
      display: inline-block;

      // Desktop and up
      @media(min-width: $screen-md) {
        width: 40px;
        height: 40px;
      }

    }
    img {
      border-radius: 50%;
      margin-left: -20px;
      height: auto;
      transition: .3s all ease;
      width: 100px;

      // Desktop and up
      @media(min-width: $screen-md) {
        width: 70px;
      }

        &.node,
        &.sass {
          &:hover {
            margin-top: 0;
            margin-left: 0;
          }
        }

        &:hover {
          margin-top: -20px;
        }
    }
  }
}
